<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/global_style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
      <div class="main">
        <div class="wrapper">
            <h1><%= title %></h1>
            <div class="program_description_container">Ši priemonė skirta duomenų šifravimo procesui pademonstruoti bei šifravimui išbandyti</div>
            <div class="image_row">
                <div class="image_container">
                    <img src="/images/index_image.png" alt="Titulinis paveikslėlis">
                </div>
            </div>
            <button class="next_btn" onclick="window.location.href='http://localhost:3000/sifravimo_tipai';">Pradėti</button>
            <div class="copyright">© 2021 Kšištof Markevič</div>
        </div>
      </div>
      
  </body>
</html>
